
body{
	background: rgba(59, 110, 187, 0.884);
	font-family: 'Franklin Gothic';
}
p{
	text-align: center;
	color: #fff;
	font-size: 1.4em;
}
.year{
	max-width: 1900px;
}

.year h1{
	color: #fff;
	text-align: center;
	font-size: 4em;;
}

.year-container{
	display: inline-flex;
}

.year-img{
	margin: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 360px;
	height: 200px;
}
.year-item:hover{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.year-item:hover .year-img {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
