body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #59678d;
    font-family: 'Franklin Gothic';
}
h1{
    color: #fff;
    font-size: 3.5em;
    text-align: center;
}
p{
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
#container{
    position: relative;
    height: 72vh;
    width: 23%;
    left: 38%;
    margin-top: 20px;;
    background-color: #222222;
    overflow: hidden;
}
.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255, 255, 255, 0.637);
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
.car{
    position: absolute;
    height: 60px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px black;
}
#car{
    bottom: 8%;
    left: 60%;
    background-color: #ff5151;
}
.f_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    top: 15%;
    border-radius: 0px 0px 5px 5px;
    background-color: #484848;
}
.b_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    bottom: 15%;
    border-radius: 5px 5px 0px 0px;
    background-color: #484848;
}
.f_light_l{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 10%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
}
.f_light_r{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 70%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
}
.f_tyre_l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 20%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}
.f_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 20%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
.b_tyre_l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 70%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}
.b_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 70%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
#car_1{
    top: -100px;
    left: 60%;
    background-color: #4d94ff;
}
#car_2{
    top: -200px;
    left: 40%;
    background-color: #4d94ff;
}
#car_3{
    top: -350px;
    left: 50%;
    background-color: #4d94ff;
}
#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: #eb4343;
    font-size: 30px;
    margin-top: 30%;
}
.small_text{
    font-size: 15px;
}
#score_div{
    position: absolute;
    margin-top: 0%;
    margin-left: 20%;
    font-size: 35px;
    background-color: #454545;
    color: white;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}
a{
    font: 30px Verdana; 
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 20px 10px 20px 10px;
    position: absolute;
    margin-top: 5%;
    margin-left: 18.5%;
    border-radius: 5px;
    transition: background .5s, color .5s;
  }
  a:hover{
    background: #fff;
    color: rgb(124, 174, 250);
}