body {
  background: rgb(51, 110, 177);
  color: #fff;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   flex-direction:column;
}
h1{
  color: #fff;
  font-size: 3em;
  text-align: center;
  font-family: 'Franklin Gothic Medium';
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

p {
  display: block;
}
.asd{
  margin-top: 0%;
  margin-left: 0%;
  color: #fff;
}
a{
  font: 26px Verdana; 
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 10px 20px 10px;
  position: absolute;
  margin-top: -8%;
  margin-left: -40%;
  border-radius: 5px;
  transition: background .5s, color .5s;
}
a:hover{
  background: #fff;
  color: rgb(124, 174, 250);
}