body {
        background-color: rgb(67, 143, 206);
        font-family: 'Franklin Gothic';
      }
      h1{
          color: #fff;
          font-size: 3.5em;
          text-align: center;
      }
      p{
          color: #fff;
          font-size: 1.2em;
          text-align: center;
      }
      #map {
        display: block;
        margin: 10px auto 0 auto;
        border: 1px solid white;
      }
      #score_div{
          position: absolute;
          margin-top: 0%;
          margin-left: 20%;
          font-size: 35px;
          background-color: #454545;
          color: white;
          padding: 10px;
          box-shadow: 4px 4px 0px 1px #808080;
      }
      a{
        font: 30px Verdana; 
        text-decoration: none;
        color: #fff;
        border: 2px solid #fff;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 5%;
        margin-left: 18.5%;
        border-radius: 5px;
        transition: background .5s, color .5s;
      }
      a:hover{
        background: #fff;
        color: rgb(124, 174, 250);
    }