 body{
        background: rgb(255, 208, 78);
        font-family: 'Franklin Gothic Medium';
    }
    h1{
        color: #fff;
        font-size: 5.2em;
        text-align: center;
    }
    section#principal{
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    article#comandos{
        background: rgb(124, 174, 250);
        border: 3px solid rgb(250, 95, 108);
        display: inline-block;
        min-height: 223px;
        padding: 89px;
        vertical-align: top;
        width: 25%;
    }
    .cajaT{
        width: 250px;
        height: 30px;
        background: transparent;
        border: none;
        font-family: Franklin Gothic Medium;
        font-size:400px; 
        color: #fff;
    }
    .boton{
        font:bold 90px Verdana; 
        background: transparent;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 5px;
        transition: background .5s, color .5s;
    }
    .boton:hover{
        background: #fff;
        color: rgb(124, 174, 250);
    }
    article#tablero{
        background: rgb(252, 119, 130);
        border: 3px solid rgb(88, 153, 252);;
        display: inline-block;
        margin: 0 auto;
        padding: 12px;
        text-align: center;
        width: 48%;
    }
    article#tablero input{
        border: none;
        font-size: 3em;
        height: 120px;
        margin: 3px;
        width: 120px;
    }
    input[type="button"]#iniciar{
        font-size: 0.8em;
        margin-top: 2em;
        padding: 0.7em;
    }
    input[type="text"]{
        font-size: 1em;
        margin: 0.3em;
        padding: 0.1em;
    }
    label{
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }
    .botonInicial{
        color: rgb(119, 172, 252);
        background-color: rgb(119, 172, 252);
    }
    .botonplayer1{
        color: white;
        background-color: rgb(253, 176, 87);
    }
    .botonplayer2{
        color: white;
        background-color: rgb(59, 230, 230);
    }
    a{
        font: 26px Verdana; 
        text-decoration: none;
        color: #fff;
        border: 2px solid #fff;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 27%;
        margin-left: 40%;
        border-radius: 5px;
        transition: background .5s, color .5s;
      }
      a:hover{
        background: #fff;
        color: rgb(124, 174, 250);
      }